body{
	margin: 0;
	background-color: #ff0;
	min-width: 640px;
}
#top-menu{
	background-color: #000;
	height: 65px;
	position: sticky;
	top: 0;
	z-index: 1000;
}
#top-menu .side{
	height: 100%;
	position: absolute;
}
#top-menu .left{
	background-color: rgba(168, 50, 50);
	left: 0;
}
#top-menu .right{
	background-color: rgba(14, 230, 201);
	right: 0;
}
#top-menu a{
	text-decoration-line: none;
	color: #aaa;
	transition-duration: 200ms;
	transition-property: color;
}
#top-menu a:hover{
	color: #fff;
}
.tm-btn{
	color: #aaa;
	display: inline-block;
	vertical-align: middle;
	background-color: rgb(82, 42, 74);
	padding: 15px;
	height: 35px;
	line-height: 35px;
	font-size: 35px;
	transition-duration: 200ms;
	transition-property: color;
	position: relative;
	text-align: center;
	transition-duration: 200ms;
}
.tm-btn:hover{
	color: #fff;
}
#top-menu .submenu{
	position: absolute;
	top: 100%;
	left: 0;
	background-color: rgba(0, 0, 0, 0.8);
	min-width: 100%;
	transform:	translateY(-50%) scale(0);
	transition-duration: 200ms;
}
#top-menu .tm-btn:hover .submenu{
	transform: translateY(0) scale(1);
}
#top-menu .submenu .tm-btn{
	display: block;
}
.tm-btn .arr{
	height: 100%;
	transition-duration: 200ms;
	transition-property: transform;
	vertical-align: middle;
	transform: rotate(90deg);
}
.tm-btn:hover .arr{
	transform: rotate(-90deg);
}
#tm-logo{
	height: 100%;
}
.box{
	position: relative;
	width: 100%;
	font-size: 0;
}
#box1{

}
#box1 video{
	width: 100%;
}
#box1 .inner{
	position: absolute;
	left: 10px;
	bottom: 10px;
	width: 400px;
	text-align: center;
}
#box1 .inner-img{
	width: 100%;
}
#box1 .inner-text{
	color: rgb(252, 15, 3);
	font-size: 30px;
}
#box1 .inner a{
	text-decoration-line: none;
}
#box1 .inner a .btn{
	color: rgb(252, 15, 3);
	height: 30px;
	padding: 15px;
	border: dashed 2px #0af;
	background-color: rgba(228, 240, 7);
	box-shadow: 0 0 15px #0af inset;
	font-size: 30px;
	line-height: 30px;
	text-shadow: -1px 2px 1px #0af;
	position: relative;
}
#box1 .btn .line{
	height: 2px;
	background-image: linear-gradient(
		to right,
		rgba(228, 240, 7, 0.3),
		rgba(228, 240, 7, 1),
		rgba(228, 240, 7, 0.3)
		);
	width: 0;
	position: absolute;
	transition-duration: 200ms;
	left: 50%;
	right: 50%;
	box-shadow: 0 0 0 #eb4034;
}
#box1 .btn:hover .line{
	width: 100%;
	left: 0;
	right: 0;
	box-shadow: 0 0 10px #eb4034;
}
#box1 .btn .line-top{
	top: 0;
}
#box1 .btn .line-bottom{
	bottom: 0;
}
#box2{
	width: 100%;
	height: 720px;
	background-color: rgb(3, 252, 144);
}
#box2 .left{
	background-color: rgb(252, 65, 3);
	height: 100%;
	width: 66%;
	position: relative;
}
#box2 .caption .img{
	height: 60px;
	width: 60px;
	margin-left: 30px;
	background-size: contain;
	background-position: center center;
}
#box2 .content1 .img{
background-image: url("img/5.jpg");
}
#box2 .content2 .img{
background-image: url("img/5.jpg");
}
#box2 .content3 .img{
background-image: url("img/5.jpg");
}
#box2 .content4 .img{
background-image: url("img/5.jpg");
}
#box2 .right{
	height: 100%;
	background-color: rgb(148, 242, 7);
	width: 34%;
	right: 0;
	position: absolute;
	top: 0;
}
#box2 .left .content{
	height: 50%;
	width: 50%;
	position: absolute;
	overflow: hidden;
}
#box2 .left .content .bg{
	background-size: cover;
	background-position: center;
	transition-duration: 200ms;
	height: 100%;
	width: 100%;
}
#box2 .left .content:hover .bg{
	transform: scale(1.2);
}
#box2 .left .content1 .bg{
	background-image: url("img/2.jpg");
}
#box2 .left .content2 .bg{
	background-image: url("img/2.jpg");
}
#box2 .left .content3 .bg{
	background-image: url("img/2.jpg");
}
#box2 .left .content4 .bg{
	background-image: url("img/2.jpg");
}
#box2 .left .content1{
	top: 0;
	left: 0;
}
#box2 .left .content2{
	top: 0;
	right: 0;
}
#box2 .left .content3{
	left: 0;
	bottom: 0;
}
#box2 .left .content4{
	right: 0;
	bottom: 0;
}
#box2 .right .list{
	width: 80%;
	height: calc(100% - 100px);
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 50px;
	box-shadow: 0 0 10px #000 inset;
	overflow-x: hidden;
}
#box2 .right .list .el{
	background-color: #333;
	width: 100%;
	height: 150px;
	margin-bottom: 50px; 
	position: relative;
}
#box2 .el audio{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
::-webkit-scrollbar{
	background-color: rgb(7, 211, 242);
	width: 15px;
}
::-webkit-scrollbar-thumb{
	background-color: rgb(138, 80, 135);
	border-radius: 7px;
}
#box2 .left .caption{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 40%;
	color: #fff;
	background-image: linear-gradient(to bottom,
		rgba(0,0,0,0),
		rgba(0,0,0,0.75),
		rgba(0,0,0,0.9)
		);
	text-align: center;
	font-size: 50px;
	font-family: fantasy;
	line-height: 100px;
}
#box3{
	background-color: rgb(235, 136, 140);
	padding-top: 50px;
	padding-bottom: 50px;
}
#box3 iframe{
	height: 720px;
	width: 1280px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}
#footer{
	padding: 40px;
	background-color: #555;
	color: #aaa;
}
#footer a{
	color: #aaa;
	text-decoration-line: none;
}
#footer a:hover{
	text-decoration-line: underline;
}
#footer .el{
	margin: 13px;
	display: inline-block;
}
@media(max-width: 7680px){
	#box3 iframe{
		height: 1800px;
		width: 3200px;
	}
}
@media(max-width: 3840px){
	#box3 iframe{
		height: 1440px;
		width: 2560px;
	}
}
@media(max-width: 2560px){
	#box3 iframe{
		height: 1080px;
		width: 1920px;
	}
}
@media(max-width: 1920px){
	#box3 iframe{
		height: 720px;
		width: 1280px;
	}
}
@media(max-width: 1280px){
	#box2{
		height: 1440px;
	}
	#box2 .left{
		height: 50%;
		width: 100%;
	}
	#box2 .right{
		left: 0;
		top: 50%;
		height: 50%;
		width: 100%;
	}
}
@media(max-width: 750px){
	#top-menu .right{
		display: none;
	}
}
@media(min-width: 2561px){
	#box2{
		height: 1080px;
	}
	#box2 .caption .img{
		height: 120px;
		width: 120px;
	}
	#box2 .left .caption{
		font-size: 50px;
	}
}
@media(min-width: 3841px){
	#box2{
		height: 1440px;
	}
	#box2 .caption .img{
		height: 240px;
		width: 240px;
	}
	#box2 .left .caption{
		font-size: 100px;
	}
}
@media(min-width: 7680px){
	#box2{
		height: 2160px;
	}
	#box2 .caption .img{
		height: 480px;
		width: 480px;
	}
	#box2 .left .caption{
		font-size: 200px;
	}
}

